<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>AppUs</name>
<icon src="images/icono_flatus.png" gap:platform="android" gap:density="ldpi" />
<description>
Aplicacion movil de servicios escolares de la Universidad del Sur. 
</description>

<author href="https://www.universidaddelsur.edu.mx" email="jesus_velazquez89@hotmail.com">
Jesus Velazquez Diaz
</author>

</widget>
